.top {
  font-family: Inter, sans-serif;
  height: 100px;
  width: 100%;
  background: rgb(245, 109, 94);
 display:flex;
 justify-content: center;
 align-items: center;
 color:white;
 font-size: 15px;
 font-weight: 500;
}
.Fuzi {
  display: flex;
  gap: 20px;
  font-family: 'Inter', sans-serif;
  height: 200px;
  width: 90vw;
  margin-top: 100px;
  margin-left: 5vw;
  background: rgb(252, 246, 243);

  overflow: hidden;
  @media only screen and (min-width: 768px) {
    height: 230px;
    width: 80vw;
    margin-left: 10vw;
  }
}
.Fuzi img {
  height: 100%;
  width: 20vw;
  border-radius: 10px;
  object-fit: cover;
  @media screen and (min-width: 768px) {
    width: 15vw;
  }
}
.contentHeader{
  display:flex;
  gap:10px;
  margin-top: 30px;

}
.japan {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  letter-spacing: 2px;
}

.map {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-decoration: underline;
  color:#918E9B;
}
.date{
  font-family: Inter, sans-serif;
  font-weight:bolder;
  font-size: 15px;
}


